button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

header {
border-top: 10px solid black;

}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

body {
border-top: 20px solid black;
/*margin: auto;*/
background-image: url("../image/wishList.jpg");
background-size: cover;
height: 1300px;

}

.retailers {
margin-top: 70px;

}


.btn-lg {
font-size: 20px;
margin-left: 400px;

}

.page-header {
height: 40px;
color: white;

}


h1 {
font-family: 'Homemade Apple', cursive;
padding-top: 20px;
text-align: center;
font-size: 125px;
margin-top: 150px;
color: white;
padding-bottom: 50px;
border-bottom: 2px solid white;
text-shadow: 15px 2px black;

#pagegradient {
  background-image:
        -webkit-gradient(
            radial,
            50% -50,
            300,
            50% 0,
            0,
            from(rgba(230, 237, 241, 0)),
            to(rgba(230, 237, 241, 0.8)));

  height:100%;
  left:0px;
  position:absolute;
  top:0;
  width: 600px;
}

.button {
    position: absolute;
    top: 100px;
    left: 200px;
    display: inline-block;
    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;

    background-image:
        /* gloss gradient */
        -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(50%,rgba(255,255,255,0)),
            color-stop(50%,rgba(255,255,255,0.3)),
            color-stop(100%,rgba(255,255,255,0.2))),

        /* dark outside gradient */
        -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(210,210,210,0.3)),
            color-stop(20%,rgba(210,210,210,0)),
            color-stop(80%,rgba(210,210,210,0)),
            color-stop(100%,rgba(210,210,210,0.3))),

        /* light inner gradient */
        -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(20%,rgba(255,255,255,0.5)),
            color-stop(80%,rgba(255,255,255,0.5)),
            color-stop(100%,rgba(255,255,255,0))),

        /* diagonal line pattern */
        -webkit-gradient(
            linear,
            0% 100%,
            100% 0%,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(40%,rgba(255,255,255,0)),
            color-stop(40%,#D2D2D1),
            color-stop(60%,#D2D2D1),
            color-stop(60%,rgba(255,255,255,0)),
            color-stop(100%,rgba(255,255,255,0)));

        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;

    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button span:hover {
            color: #AEBF3B;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow:
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .button span:after {
        content: ">";
        display: block;
        width: 10px;
        height: 10px;

        position: absolute;
        right: 14px;
        top: 12px;

        font-family: 'Cabin';
        font-weight: 700;
        color: #AEBF3B;
        text-shadow: 0px 1px #fff, 0px -1px #97A63A;
        font-size: 26px;
    }



}

h2 {
font-size: 45px;
font-family: 'Homemade Apple', cursive;
margin-top: 100px;
text-align: center;
color: white;
padding-bottom: 100px;
}

img {
height: 475px;

margin-top: 100px;
margin-bottom: 100px;
/*margin-left: 30px;*/
width: 375px;

outline: 10px solid black;
}

.btn {
/*width: 75%;*/
 font-family: 'Homemade Apple', cursive;
font-size: 30px;
/*border-width: 30px;*/
border-radius: 15px;
margin-left: 130px;
text-align: center;
background-color: black;

}

.headerButton {
  /*font-family: 'Homemade Apple', cursive;*/
  font-size: 25px;
  border-radius: 15px;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
  color: black;
  margin-top: -20px;
}


.form-group {
padding-top: 300px;
padding-left: 300px;
/*padding-left: 300px;*/
}

.btn btn-default {
font-size: 50px;
/*padding: 200px;*/
 font-family: 'Homemade Apple', cursive;
text-align: center;

}

.form-control {
margin-left: 370px;

}

/*#amazon {
height: 50px;
width: 50px;

}*/


img {
height: 300px;

}

.modal-title {
font-size: 40px;
font-family: 'Love Ya Like A Sister', cursive;
}



#myModal {
font-size: 30px;
background-image: url("../image/wishList.jpg") !important;
background-size: cover;
font-family: 'Love Ya Like A Sister', cursive;

}



.btn1 {
font-size: 25px;

}

.modal-footer {
height: 100px;

}



/*SHRINK*/
.shrink img {
  height: 400px;
  width: 400px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.shrink img:hover {
  width: 300px;
  height: 300px;
}

/*SHRINK*/
.shrink img {
  height: 350px;
  width: 350px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.shrink img:hover {
  width: 200px;
  height: 200px;
}

.btn2 {
font-family: 'Homemade Apple', cursive;
background-color: black;
color: white;
}

navbar navbar-fixed-top {
background-color: white;

}

a {
font-family: 'Homemade Apple', cursive;
background-color: black;
color: white;
font-size: 30px;
margin-top: 40px;
}

]
